<footer class="section section-gap-footer footer">
  <div class="footer-contents">
    <div class="footer-image"><img alt="Joseph Banass Footer logo" title="Joseph Banass Footer Logo" src="./assets/JB-Logo-Footer.png" /></div>
    <div class="footer-contact">
      <p class="light-gray">Let's get in touch.</p>
      <span *ngFor="let social of socials">
        <social [social]="social"></social>
      </span>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-copyright">
      <p class="light-gray">&copy; {{ date }}</p>
    </div>
  </div>
</footer>
