server {
       listen       $PORT;
       server_name  josephbanass.dev;

       return 301 $scheme://www.josephbanass.dev$request_uri;
}


server {
       listen       $PORT default_server;
       server_name  www.josephbanass.dev;

       location / {
                root   /usr/share/nginx/html;
                index  index.html;
        }
}
