<section class="section landing">
    <div class="center-v-h">
        <img class="hero-image" src="./assets/jb-logo.png">
        <p class="hero-text light-gray">{{ _specialization | uppercase}}</p>
        <div class='chevron-container'>
            <ul class="chevron-down">
                <li>
                    <i class="ion-ios-arrow-down half-opacity teal"></i>
                </li>
                <li>
                    <i class="ion-ios-arrow-down teal"></i>
                </li>
            </ul>
        </div>
    </div>
</section>