<section id="section-about" class="section section-gap about">
  <div class="half">
    <div class="row center">
      <img class="about-img" src="./assets/Astronaut.png" />
    </div>
  </div>
  <div class="half">
    <h2 class="section-header">Hello</h2>
    <div class="section-subheader">Passionate. Involved. Dedicated.</div>
    <p class="about-description">
      I am an extremely motivated Chicago-based developer immersed in the
      potential of computers since the ripe age of seven. Always consumed by the
      latest hardware and software trends, I&nbsp;live and breathe to push the
      limits of what people think apps&nbsp;can&nbsp;do.
    </p>
  </div>
</section>
