<section id="section-about" class="section section-gap about">
  <div class="half">
    <div class="row"><img class="about-img" src="./assets/jb-icon1.png" /></div>
    <div class="about-header">
      <h2 class="teal">
        PASSIONATE. <em class="dark-blue">INVOLVED.</em> DEDICATED.
      </h2>
    </div>
  </div>
  <div class="about-description half">
    <p>
      I am an extremely motivated Chicago-based developer immersed in the
      potential of computers since the ripe age of seven. Always consumed by the
      latest hardware and software trends, I&nbsp;live and breathe to
      <b><em class="callout">push the limits</em></b> of what people think
      apps&nbsp;can&nbsp;do.
    </p>
  </div>
</section>
