@media only screen and (max-width:425px) {
    
}

@media only screen and (min-width:426px) and (max-width:767px) {
    .about-img {
        width:256px;
        height:auto;
    }
    
    .footer-image img {
        width:341px;
        height:auto;
    }
}

@media only screen and (min-width:768px) {
    .hero-text {
        font-size:90%;
    }

    .half {
        width:50%;
    }

    .about {
        padding: 50px 50px 0px 50px;
        display:inline-flex;
    }

    .section-header {
        font-size:70%;
        padding-bottom:50px;
    }
    
    .about-img {
        width:230px;
        height:auto;
        padding-bottom:40px;
    }

    .about-description {
        font-size:90%;
        padding-top:30px;
    }

    .about-description p {
        display:inline-block;
        padding-bottom:20px;
        width:100%;
    }

    .project-header {
        padding: 0px 40px 10px 40px;
    }

    .show-all-button {
        display:none;
    }

    .project-display {
        display:inline-block;
        margin:20px;
    }

    .project-link {
        width:27%;
    }

    .project-explanation h2,
    .project-explanation h3 {
        padding:20px;
    }

    .project-explanation p {
        display:inline-block;
        padding-bottom:30px;
    }

    .button {
        margin-top:30px;
    }


    .footer-image {
        display:inline;
    }

    .footer-image img {
        width:185px;
        margin-bottom:40px;
    }

    .footer-contact {
        display:inline-block;
        text-align:center;
        vertical-align: top;
        margin-top:30px;
    }

    .footer-divider {
        width:3px;
        height:120px;
        display:inline-block;
        margin:0px;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:40px;
    }

    .footer-copyright {
        display:inline-block;
        vertical-align: top;
        padding-top:36px;
        text-align: left;
    }

    .footer-copyright img {
        width: 257px;     
    }

    .social {
        width:40px;
        height:40px;
        margin: 0px 3px;
        font-size:80%;
        padding: 7px 5px 5px 5px;
    }

    .section-gap-footer {
        padding: 50px 0px 0px 0px;
    }
}

@media only screen and (min-width:1024px) {
    .project-description {
        max-width:700px;
    }
}

@media only screen and (min-width:1440px) {
    .about-description {
        padding-top:70px;
    }
}