@media only screen and (max-width: 425px) {
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  .about-img {
    width: 260px;
    height: auto;
  }

  .footer-image img {
    width: 341px;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  section {
    padding: 75px 6%;
  }

  .section-subheader {
    font-size: 120%;
  }

  .tablet {
    display: initial;
  }

  .vr {
    height: 100px;
    margin-top: -50px;
  }

  .hero-text {
    font-size: 110%;
  }

  .hero-image {
    padding-bottom: 30px;
  }

  .half {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about {
    //padding: 50px 50px 50px 50px;
    display: inline-flex;
  }

  .section-header {
    font-size: 80%;
  }

  .about-img {
    width: 320px;
    height: auto;
  }

  .about-description {
    font-size: 90%;
  }

  .about-description p {
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
  }

  .project-container {
    padding: 80px 60px;
  }

  .project {
    display: inline-flex;
  }

  .project-header {
    padding: 0px 40px 10px 40px;
  }

  .show-all-button {
    display: none;
  }

  .project-display {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }

  .project-link {
    width: 30%;
  }

  .project-description-container {
    column-count: 2;
  }

  .project-explanation p {
    display: inline-block;
    padding-bottom: 30px;
  }

  .button {
    margin-top: 30px;
  }

  .footer-image {
    display: inline;
  }

  .footer-image img {
    width: 145px;
    position: relative;
    top: 35px;
  }

  .footer-contact {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    min-height: 0;
    position: relative;
    top: -20px;
  }

  .footer-divider {
    margin: 0;
  }

  .footer-copyright {
    padding: 16px 0px;
    text-align: left;
  }

  .footer-copyright img {
    width: 257px;
  }

  .social {
    width: 40px;
    height: 40px;
    margin: 0px 3px;
    font-size: 100%;
    padding: 7px 5px 5px 5px;
  }

  .section-gap-footer {
    padding: 0px 0px 0px 0px;
  }

  .mobile {
    display: none;
  }

  .footer {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .project-description {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1440px) {
}
