/* -------------------------------*/
/*BASIC SETUP                     */
/* -------------------------------*/

$light-gray: #cac6c3;
$black: #141421;
$teal: #46beb3;
$purple: #3d2f84;

$heading-font: "Brandon-Grotesque";
$heading-weight: 700;
$subheading-font: "ivyjournal";
$subheading-weight: 600;
$copy: "interstate";
$copy-weight: 400;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #000;
  font-family: $copy, "Arial", sans-serif;
  font-size: 26px;
  font-weight: $copy-weight;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.center {
  text-align: center;
}

.light {
  color: $light-gray;
}

/* -------------------------------*/
/*REUSABLE COMPONENTS             */
/* -------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto; /*centering the row*/
}

section {
  padding: 0px 0;
}

.half {
  width: inherit;
}

.section-gap {
  padding: 50px 0px 0px 0px;
}

.center-v-h {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateX(0%) translateY(-50%);
}

.half-opacity {
  opacity: 0.5;
}

.footer-divider-hidden {
  display: none;
}

.button {
  border: 3px solid $teal;
  font-size: 60%;
  text-align: center;
  margin: 20px auto;
  color: $teal;

  width: 80%;
  max-width: 260px;
  padding: 20px;
  font-weight: 400;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: $purple;
  }
}

.disabled-button {
  border: 3px solid rgba(104, 195, 183, 0.5);
  color: rgba(104, 195, 183, 0.5);

  &:hover,
  &:active {
    cursor: default;
    background-color: transparent;
  }
}

.btn-action {
  color: $teal;
}

/* -------------------------------*/
/*Landing                         */
/* -------------------------------*/
.landing {
  background-image: url("assets/galaxy-hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  text-align: center;
  box-shadow: inset 0 0 1em #111;
}

.hero-image {
  width: 90%;
}

.hero-text {
  font-family: $copy;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 1.4em;
  padding-top: 10px;
  font-size: 59%;
  color: $light-gray;
}
/*
    About
*/

.about {
  margin: 0px 40px;
  padding-bottom: 60px;
}

.about-img {
  width: 60%;
}

.about-header {
  letter-spacing: 0.3em;
  padding: 10px;
  border-left: 5px solid $teal;
  color: $teal;
  font-size: 80%;
  text-align: left;
}

.about-subheader {
  padding: 20px 0px;
  font-family: $subheading-font;
  font-weight: $subheading-weight;
}

.about-description {
  font-size: 90%;
}

/*
    project
*/
.project {
  background-image: url("assets/moon-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
  text-align: left;
  color: #fff;
  padding-bottom: 70px;
  box-shadow: inset 0 0 1em #111;
}

.vr-container {
  position: relative;
}

.vr {
  width: 5px;
  height: 70px;
  position: absolute;
  background-color: $purple;
  left: 50%;
  margin-top: -33px;
}

.project-container {
  background-color: $black;
  padding: 60px;
}

.project-heading {
  margin-bottom: 60px;
  margin: 0px 40px;
}

.project-header {
  padding: 0px 40px 40px 40px;
  color: $teal;
}

.project-display {
  display: inline-block;
  margin: 20px;
}

.hide-for-mobile {
  display: none;
}

.project-link {
  background-image: url("assets/cosmo-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 170px;
  text-align: center;
  font-size: 80%;
  margin: 20px 10px 0px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.project-link p {
  margin: 70px 20px 0px 20px;
  display: inline-flex;
  color: $light-gray;
}

.project-description-container {
  margin: 20px 0px;
  display: block;
  color: $light-gray;
}

.project-description {
  font-size: 80%;
  display: inline-block;
  max-width: 527px;
  text-align: left;
}

/*
    footer
*/
.footer {
  text-align: center;
  overflow: hidden;
}

.footer-image {
  min-height: 200px;
}

.footer-image img {
  width: 80%;
}

.footer-contact {
  min-height: 140px;
  color: $light-gray;
}

.footer-contact a {
  text-decoration: none;
}

.footer-contact p {
  padding-bottom: 8px;
}

.footer-copyright {
  font-size: 70%;
  color: $light-gray;
}

.footer-copyright img {
  width: 70%;
  padding-bottom: 8px;
}

.section-gap-footer {
  padding: 50px 0px 50px 0px;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: $light-gray;
  padding: 3px 5px 5px 6px;
  display: inline-block;
  margin: 0px 5px;
  transition: 0.4s;
}

.social:hover,
.social:active {
  color: $purple;
  cursor: pointer;
}

.footer-divider {
  height: 3.5px;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: $light-gray;
}

.callout {
  color: $teal;
}
