<section class="section section-gap project">
  <div class="half">
    <div class="row center">
      <img class="about-img" src="./assets/Computer.png" />
    </div>
  </div>
  <div class="half">
    <div class="project-heading">
      <h2 class="section-header">Projects</h2>
      <div class="section-subheader">All talk and no show?</div>
      <p>
        Not quite. Below are a few choice projects that I enjoyed making the
        most from different languages and frameworks, like Python, Scala,
        Angular, and C++.
      </p>
    </div>
  </div>
</section>
<div class="vr-container"><div class="vr"></div></div>
<section id="container" class="project-container">
  <div>
    <span [hidden]="!isBaseRoute()">
      <div class="project-display" [class.hide-for-mobile]="!showForMobile">
        <div
          [routerLink]="['/p/' + project.name]"
          class="project-link"
          *ngFor="let project of projects"
        >
          <p>{{ project.name }}</p>
        </div>
      </div>
    </span>
  </div>
  <router-outlet #item></router-outlet>
  <div
    [hidden]="isBaseRoute()"
    [routerLink]="['/']"
    class="project-button button"
  >
    <span class="btn-action">BACK</span>
  </div>
  <div
    class="button project-button show-all-button"
    [class.hide-for-mobile]="showForMobile || !isBaseRoute()"
    (click)="showProjects()"
  >
    VIEW ALL <span class="btn-action">PROJECTS</span>
  </div>
</section>
