<div id="container" class="project-explanation">
  <h2 class="teal" #top>{{ project?.name }}</h2>
  <h3>{{ project?.subtitle }}</h3>
  <div
    class="project-description-container"
    *ngFor="let description of project.descriptions"
  >
    <p class="project-description">{{ description }}</p>
  </div>
  <div
    class="button"
    [class.disabled-button]="project.githubLink == undefined"
    (click)="openInGithub()"
  >
    <span [hidden]="project.githubLink == undefined"
      >CHECK ME OUT ON <span class="btn-action">GITHUB</span></span
    >
    <span [hidden]="project.githubLink != undefined"
      >GITHUB LINK COMING
      <span class="btn-action half-opacity">SOON</span></span
    >
  </div>
</div>
