<div id="container" class="project-explanation">
  <h2 class="section-header" #top>{{ project?.name }}</h2>
  <h3 class="section-subheader light">{{ project?.subtitle }}</h3>
  <div class="project-description-container">
    <div *ngFor="let description of project.descriptions">
      <p class="project-description">{{ description }}</p>
    </div>
  </div>
  <div
    class="button"
    [class.disabled-button]="project.githubLink == undefined"
    (click)="openInGithub()"
  >
    <span [hidden]="project.githubLink == undefined"
      >CHECK ME OUT ON GITHUB</span
    >
    <span [hidden]="project.githubLink != undefined"
      >GITHUB LINK COMING <span class="half-opacity">SOON</span></span
    >
  </div>
</div>
