* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $dark-gray;
  color: $light-gray;
  font-family: $copy, "Arial", sans-serif;
  line-height: $copy-height;
  font-size: 22px;
  font-weight: $copy-weight;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0;
}

