* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $dark-gray;
  color: $light-gray;
  font-family: $copy, "Arial", sans-serif;
  line-height: $copy-height;
  font-size: 22px;
  font-weight: $copy-weight;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0;
}

.section-header {
  letter-spacing: 0.2em;
  padding: 10px;
  border-left: 5px solid $teal;
  color: $teal;
  font-size: 80%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section-subheader {
  padding: 20px 0px;
  font-family: $subheading-font;
  font-weight: $subheading-weight;
}
