$light-gray: #cac6c3;
$dark-gray: #141421;
$black: #090a0a;
$teal: #46beb3;
$purple: #3d2f84;
$light-purple: #3b3b66;

$heading-font: "Brandon-Grotesque";
$heading-weight: 700;
$subheading-font: "ivyjournal";
$subheading-weight: 600;
$copy: "interstate";
$copy-weight: 400;
$copy-height: 1.3em;
